# data files
*.img
*.simg
*.sif
*.png
*.csv
*.zip
*.tar
*.tar.gz
*.bin
*.gzip
*.egg-info
*.txt
!storage/external/bigvul_rand_splits.csv

# Python
*.pyc
.pytest_cache
__pycache__

# program outputs
storage
!storage/external/*.sc
workspace
workers
output
logs*
joern
joern-install.sh
hpc/logs/*

# project files
.vscode

# working files
x42
tmp
repos
archives_to_extract*_*
