*.img
*.simg
*.sif
.pytest_cache
__pycache__
storage
*.egg-info
output
.vscode/sftp.json
hpc/logs/*
.dccache
**/*.pyc
**/*.gzip
**/workspace
hpc/logs*
logs*
/abstract_dataflow_*.csv
/*.txt
/.vscode

/joern/
/x42/
joern-install.sh
joern-cli.zip
/*.png
/*.csv
/tmp
/*.zip
/*.tar
/*.tar.gz
/repos
/*.bin
/workspace
/workers
