tqdm>=4.61.2
numpy>=1.20.1
jupyterlab
gdown
matplotlib
gensim
joblib
lightgbm
xgboost
nltk
seaborn
pytest
scikit-learn
scipy
pandas
fastparquet
spacy
imbalanced-learn
dgl
networkx
pydot
graphviz
python-Levenshtein
tensorboard
python-igraph
unidiff
fuzzywuzzy
python-Levenshtein
libclang
pandarallel
ipywidgets
transformers
torchtext
torchsummary
torchinfo
tsne_torch
pytorch-lightning
torch_scatter
ujson
unidecode
ray[tune]