jupyterlab
gdown
matplotlib
tqdm
gensim
joblib
lightgbm
xgboost
nltk
seaborn
pytest
scikit-learn
scipy
numpy
pandas
fastparquet
spacy
transformers
torchtext
torchsummary
imbalanced-learn
dgl
dgl-cu102
networkx
pydot
graphviz
python-Levenshtein
tensorboard
python-igraph
torchinfo
unidiff
fuzzywuzzy
python-Levenshtein
libclang
pandarallel
ipywidgets