jupyterlab
gdown
matplotlib
tqdm
gensim
joblib
lightgbm
xgboost
nltk
seaborn
pytest
scikit-learn
scipy
numpy
pandas
fastparquet
spacy
imbalanced-learn
dgl
networkx
pydot
graphviz
python-Levenshtein
tensorboard
python-igraph
unidiff
fuzzywuzzy
python-Levenshtein
libclang
pandarallel
ipywidgets
transformers
torchtext
torchsummary
torchinfo
dgl-cu102